select {
  $bg-color: white;
  $text-color: black;
  appearance: none;
  background: {
    color: $bg-color;
    image: url("/assets/image/caret--down-15.png");
    position: right;
    repeat: no-repeat;
  }
  border: {
    color: mix($bg-color, black, 80%);
    radius: .2em;
    style: solid;
    width: 1px;
    right-color: mix($bg-color, black, 60%);
    bottom-color: mix($bg-color, black, 60%);
  }
  color: $text-color;
  padding: .33em .5em;
  width: 300px;
}
input[type="button"] {
  $bg-color: white;
  $text-color: black;
  appearance: none;
  background: {
    color: $bg-color;
    position: right;
    repeat: no-repeat;
  }
  border: {
    color: mix($bg-color, black, 80%);
    radius: .2em;
    style: solid;
    width: 1px;
    right-color: mix($bg-color, black, 60%);
    bottom-color: mix($bg-color, black, 60%);
  }
  cursor: pointer;
  color: $text-color;
  padding: .33em .5em;
  width: 300px;

  &:active {
    background: {
      color: mix(blue, white, 60%);
    }
  }

  &:focus {
    outline: none;
  }
}

canvas {
  border: {
    color: black;
    style: solid;
    width: 1px;
    right-color: mix(white, black, 60%);
    bottom-color: mix(white, black, 60%);
  }
  margin-right:20px;
}