select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: white;
  background-image: url("../image/caret--down-15.png");
  background-position: right;
  background-repeat: no-repeat;
  border-color: #cccccc;
  border-radius: .2em;
  border-style: solid;
  border-width: 1px;
  border-right-color: #999999;
  border-bottom-color: #999999;
  color: black;
  padding: .33em .5em;
  width: 300px; }

input[type="button"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: white;
  background-position: right;
  background-repeat: no-repeat;
  border-color: #cccccc;
  border-radius: .2em;
  border-style: solid;
  border-width: 1px;
  border-right-color: #999999;
  border-bottom-color: #999999;
  cursor: pointer;
  color: black;
  padding: .33em .5em;
  width: 300px; }
  input[type="button"]:active {
    background-color: #6666ff; }
  input[type="button"]:focus {
    outline: none; }

canvas {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  border-right-color: #999999;
  border-bottom-color: #999999;
  margin-right: 20px; }
